extends layout
include posts
block content
  .container-lg
    article.p-2.article-wrap
      main
        +#{spine}(title)
      section.p-1
        h2 Comment
        form(action="/blog/"+spine, method="post")
          .form-group
            label(for='name')
            input(type="text" name="name" placeholder="name" id='name' required)
          .form-group
            label(for='message')
            textarea(name="message" rows="5" cols="35" placeholder="message" id='message' required)
          div
            input(type="submit", value="Send message")
        br
        h4 #{data.comment_count} comments
        each comment in data.comments
          .d-flex.p-2
            .w-50.p-3.card-wrap
              p #{comment.name}
              p.date-font #{comment.date.toDateString()}
              p #{comment.message}
            .w-50.p-3
  footer.float-end
    p &#169; 2021 Jody Ryker
