extends layout

block content
    .d-flex.justify-content-center
      article.w-50.p-2.article-wrap
        main
          .text-center
            h1=title
          figure.float-left.pr-3.p-2
            .img-post
              img(src='/images/post-1-img-1.png' style='width: 500px' alt='Doubles tricks at the end of a class I taught at Magnetic Pole Fit with my student Tiana.')
            figcaption
              | Doubles tricks at the end of a class I taught at Magnetic Pole Fit with my student Tiana.
          section.p-1(aria-label='introduction')
            p When I moved to Santa Cruz in 2013, I started dropping into pole classes at the local circus school, Aerial Arts Santa Cruz. Shortly after, the studio owner, Jeanette, offered me my first teaching job. It is fairly common in this industry for advanced students to be asked to start teaching at some point. I was extremely excited to have the opportunity to share my passion and to spend more time in the studio. However, aside from giving a teaching demo at this studio, I had never taught pole dance or any other movement discipline professionally before. Something that might be surprising is that my math teaching job began in a very similar way. I studied math for a long time, applied for a job at a school and gave a teaching demo, and then I was offered a teaching position despite never having learned how to teach. During the beginning of my career as an instructor, I tried to emulate what my own teachers had done. Since then, I’ve developed my own teaching style, gone to teaching conferences (for academics, but I’ve found some of the information to be relevant to teaching circus arts as well), read about pedagogy, and spent many hours learning about anatomy and physiology for circus arts. I’ve taught in a variety of different venues, including five different studios, UC Santa Cruz’s recreation department, and a number of workshops at studios I've visited and special events. I’m going to share some of the things I learned and what I now think about when I plan a pole dance or aerial class.
          section.p-1
            h2 Before Making a Plan
            p Before I start planning a class, it’s important for me to be familiar with the space I’ll be teaching in. How many students per pole will there be? Are there crash mats? What’s the spacing between poles like? What kinds of poles are there (size, metal, what’s the base like and could it impede any floor tricks, can the poles go on spin and static). Thinking about these things helps me determine how much time is needed for each part of class and how I’ll keep students safe.
            p I also like to think about what my goals, or my students’ goals, for class are. I do this with my own training sessions as well. For example, do my students need to work on their straddle inverts to become comfortable in inverted combos? Do my students need to work on active flexibility? Having a goal in mind makes my class more focused and can help students progress more quickly.
            p Most instructors play music during their classes. This is especially helpful for warm-ups and free dances. Music can set the mood of the class and can set the warm-up pace. Creating a playlist ahead of time is ideal. I want to make sure that I’ve included songs that aren’t offensive to anyone in my class and that the tempo is right for the movements I’m teaching. I sometimes like to ask students for music suggestions as well to accommodate their preferences. If I’m not able to do this, I try to include songs in a variety of genres.
          figure.float-right.pl-3.p-2
            .img-post-sq
              img(src='/images/post-1-img-2.png' style='height: 300px' alt='Teaching aerial hoop trick at UC Santa Cruz.')
            figcaption
              | Teaching aerial hoop trick at UC Santa Cruz.
          section.p-1
            h2 Writing a Class Plan
            p If you’re new to teaching, I highly recommend writing down a class plan or outline. I always did this when I first started teaching, and I still do this when I’m teaching a workshop/special event type class, or if I’m teaching a new class (for example, when I started teaching virtually during the pandemic, I made class plans until I became comfortable with the new format). I don’t generally need to look at my class plan when I’m actually teaching, but writing everything down ahead of time ensures that I’ve thought about things like timing and remedial/advanced variations of tricks. I find that I’m more confident (which likely makes my students feel more confident in me) when I know that I’ve thoroughly prepared. I like to include the following elements in each class:
            ul
              li introductions & announcements
              li warm-up
              li conditioning (on pole)
              li tricks/combos
              li free practice/free dance
            p As I write my plan, I'm constantly thinking about student safety. I think about how I’ll spot tricks, if I’m spotting. If I’m not spotting students, I think about what extra instructions and tools I’ll give them so they can keep themselves safe. Teaching a “bail-out” of a trick (i.e. how to safely exit a trick if something goes wrong) is a great option for students who aren’t being spotted. I also think about the points of contact of each trick in my combo so I know what to look out for when I watch students and so students are informed of what the trick should feel like when it’s done properly. Finally, I like to think about common mistakes for each movement and keep an eye out for these as students try out each trick. Many students get injuries because they proceed with a trick but their muscles aren’t properly engaged or their joints are not in safe positions. For example, should shoulders be in external or internal rotation? When I first began teaching, I also studied photos of different joint positions and what it looks like to have certain muscles engaged, and now I can easily identify these things on students. Thinking about these things ahead of time helps me prevent student injuries.
            p Something that I’ve consistently heard at math conferences is that community is essential for learning. Students need to feel that they are a part of the class/studio community in order to feel comfortable going through the learning process. Learning requires some amount of struggle, and at times this can be frustrating or uncomfortable. Most students in pole dance classes are asked to wear something not much bigger than a bathing suit, and students need to feel safe enough to do this. If students feel that they are part of a community of people who are all struggling and learning together, then students will generally perform better. One way to facilitate community building is to begin class with introductions. I think this is especially essential for beginner classes. The prompts I use for these introductions generally follow this format:
            ol
              li Name and preferred pronouns
              li A pole related question such as number of classes/number of years of pole experience
              li A “small talk” question such as “What’s something you’re looking forward to this weekend?”
            p I sometimes also ask if anyone has any injuries, however, if possible, I prefer to ask students privately about this. For my smaller classes, I usually try to check in with each student about how they’re feeling before class begins. Finally, I share any announcements that I may have, such as a new class or upcoming performance. In a beginner class, I always make sure to introduce students to the studio and venue as well - where the restrooms are, what types of poles they’ll be using, and anything else they might need to know.
            p Next, every class must include a warm-up. It is essential to warm-up the body before any training session. Skipping the warm-up increases the chance of injury. I generally use 10-30 minutes of class time for the warm-up, depending on how long the class is and what I’m teaching (if extreme flexibility is required, then more time must be spent warming up things like splits or backbends). When designing a warm-up, I think about what tricks I’ll be asking students to do and what muscles and joints are involved in these movements. It’s always necessary to warm-up shoulders and hips for pole dance. I also like to focus on active flexibility exercises and minimize passive stretching. When I put together my first warm-up, I borrowed exercises that I liked from classes I’d taken, and I also looked up YouTube warm-up videos for dance and aerial classes. Since I don’t have any formal training in exercise science, I have spent many hours learning from professionals in this. I recommend the following Instagram accounts for information on warm-up exercises, mobility drills, anatomy and more: cirque_physio (Dr. Jen Crane), technique_artist, the_artist_athlete (Shannon McKenna), thecircusdoc (Dr. Emily Scherb) and ptthepole. I also recommend the following books: Applied Anatomy of Aerial Arts: An Illustrated Guide to Strength, Flexibility Training, and Injury Prevention by Dr. Emily Scherb; Aerial Inversions for All! and One Arm Positions for Aerialists by Shannon McKenna; Strength and Conditioning for Pole by Neola Wilby (ptthepole).
          figure.float-right.pl-3.p-2
            .img-post
              img(src='/images/post-1-img-3.png', alt='Teaching aerial hoop at Burning Man.')
            figcaption
              | Teaching aerial hoop at Burning Man.
          .p-1
            p After warming-up on the ground, I always use a portion of class time for on-apparatus conditioning. Increasing strength is essential for making progress. For beginners, conditioning usually includes scapular pull-ups (also known as “shrugs”), a core exercise, and climbing practice. I spend more class time conditioning for more advanced classes. My most advanced class does straddle invert drills, shoulder mount drills, and conditioning for deadlifts. I like to use the low floor-high ceiling principle: the entry level exercise is accessible for everyone in class, but the most advanced student is also challenged. In general, strength exercises can be made easier if the pole or floor supports some body weight. Exercises can be made harder by removing points of contact with the pole or moving the hips farther from the pole (this is why straddle inverts are easier than shoulder mounts - that’s why the latter requires more strength). For my own training, if I spend most of my time conditioning, then tricks easily follow. When I was trick-focused in the past, I often hit plateaus in my development. I’ve also seen other dancers constantly get injured if they didn’t condition enough.
            p I present the main content for class after conditioning. This often looks like a combo. I usually include this as a video in my class plan and then list out the main tricks. In my beginner classes, there are core movements that I regularly include to prepare students for the intermediate level (sit, fan kick, chair spin). I try to include at least one of these in each combo. For my more advanced classes, I usually present some of the tricks that I’m currently exploring or a piece of choreography I’ve recently put together. It’s really helpful if I know who will be attending class ahead of time so that I can accommodate my students’ levels and skills (for example, if I have a student who loves backbending, I make sure to include a backbendy option). I love including student requests as well (this is another question I sometimes ask in the beginning of class), but I always make sure to have something planned if students don’t have requests (often students don’t). I also make sure to include variations of each new trick I’m teaching following the low floor-high-ceiling principle. Tricks can be made easier by adding points of contact and made harder by taking them away. Most tricks also have extreme flexibility variations, and even if I can’t demo these, I explain them to flexible students. It’s essential that every student is able to achieve at least one trick or piece of the combo so that they feel accomplished. It’s also important that every student leaves class with something to work on.
            p  Unless I teach a longer combo, I leave some class time for students to do their own exploration. This may look like improvised dancing to a particular song, or their own practice time. Sometimes I may give students a prompt to guide their exploration, such as putting a couple tricks in a sequence or creating their own variation of a trick. Especially if students don’t have a pole to practice on at home, they need to be able to run through their pole vocabulary regularly. If students aren’t allowed to film during class, this can be a time for students to film themselves as well.
            p Finally, I wrap up class with a quick cool-down. Lats (back muscles), deltoids (shoulder muscles), traps (muscles in the upper back and near the neck), and forearm muscles will likely be sore after class, so I try to include some gentle stretches for this. Many pole dancers have over-developed traps (myself included) and these can pull on the neck muscles, so I like to include some controlled, slow neck circles. If students were asked to do any extreme flexibility tricks, I make sure to include exercises to “put them back together.” For example, after backbending, I make sure to do some core exercises like dead bugs.
            br
            p Below is an example plan for a recent class that I taught.
          section.p-1
            h2 Example Pole Dance Class Plan
            h3 Spin Pole (Intermediate, 75 minutes)
            ul
              li introductions (done before class begins while students are getting settled)
              ul
                li What’s your name? Pronouns?
                li What’s your current pole dream trick?
                li What’s something fun you’re doing this weekend?
              li warm-up (15 minutes)
              .d-flex.justify-content-center
                iframe(src='https://www.youtube.com/embed/mGvaasiy_xA', title='YouTube video player', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='', width='740', height='416', frameborder='0')
              ul
                li standard warm-up
                li thoracic rotations for ballerina variation
              li conditioning (10 minutes)
              ul
                li scapular pull-ups (easier-keep feet on the ground; harder-single arm)
                li pencil spin (easier-pole pull-ups with feet on the ground and no spin or begin pencil spin with hands at face level; harder: begin with hands as high as possible and add pull-ups)
                li 3 spins of students’ choosing (students can explore a bit here and I can see what movements they prefer)
              li combo (40 minutes)
              .d-flex.justify-content-center
                iframe(src='https://www.youtube.com/embed/H6m_9oBOPIQ', title='YouTube video player', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='', width='740', height='416', frameborder='0')
              ul
                li ballerina (easier-keep elbow in front of the pole instead of twisting and getting the armpit on; harder-add a contortion grab
                li aerial invert (easier-put feet on the ground before inverting; harder-straight legs and focus on lines)
                li box split variation (easier-keep top knee hooked or top hand on; harder-work towards middle splits)
              li free practice (8 minutes)
              ul
                li Students can run through the combo or their favorite tricks and film.
                li Students can practice tricks they’ve learned in a previous class.
              li cool-down (2 minutes)
              ul
                li lat release with pole
                li chest opener with pole
                li neck circles
                li forearm stretches
            p There are many other things to consider when teaching, but I hope this gives you some ideas on how to get started. I will write more about subjects such as how to spot tricks safely, pole levels, equity in the classroom, how to teach a trick, and more. Let me know if you use this outline and how it goes for you!
          p If you enjoyed this blog, please consider contributing to my <a href='https://www.gofundme.com/f/help-circus-artist-jody-buy-their-dream-pole?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1'> GoFundMe.</a>
        section.p-1
          h2 Comment
          form(action="/blog/"+spine, method="post")
            .form-group
              label(for='name')
              input(type="text" name="name" placeholder="name" id='name' value='name' required)
            .form-group
              label(for='message')
              textarea(name="message" rows="5" cols="35" placeholder="message" id='message' value='message' required)
            div
              input(type="submit", value="Send message")
          br
          h4 #{data.comment_count} comments
          each comment in data.comments
            .d-flex.p-2
              .w-50.p-3.card-wrap
                p #{comment.name}
                p #{comment.date.toDateString()}
                p #{comment.message}
              .w-50.p-3
    footer.float-right
      p &#169; 2021 Jody Ryker
